name: Build, Test & SonarCloud

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore

    - name: Test with coverage
      run: >
        dotnet test
        --no-build
        --collect:"XPlat Code Coverage"
        --results-directory ./TestResults

    - name: SonarCloud Scan
      uses: SonarSource/sonarcloud-github-action@v2
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      with:
        args: >
          -Dsonar.projectKey=bartsterreburg_sofa3
          -Dsonar.organization=bartsterreburg
          -Dsonar.cs.opencover.reportsPaths=TestResults/**/coverage.opencover.xml
          -Dsonar.cs.vstest.reportsPaths=TestResults/*.trx
